@if (Value is null)
{
    <div>
        <code>&lt;NULL&gt;</code>
        @if (!ReadOnly)
        {
            <text>&nbsp;</text>
            <button class="btn btn-outline-success btn-sm" @onclick=SetToZero>Set to 0</button>
        }
    </div>
}
else
{
    <div class="input-container">
        <input type="number" style="width:100%;" disabled=@ReadOnly @bind=Value @bind:event="oninput" @bind:after=@(() => Setter(Value)) />
        @if (!ReadOnly && AllowNull)
        {
            <button class="btn btn-outline-danger btn-sm" @onclick=SetToNull><nobr>Set to NULL</nobr></button>
        }
    </div>
}

@code {
    [Parameter]
    public bool ReadOnly { get; set; } = false;

    [Parameter]
    public bool OpenDetails { get; set; } = false;

    [Parameter, EditorRequired]
    public required byte? Value { get; set; }

    [Parameter]
    public bool AllowNull { get; set; } = false;

    [Parameter, EditorRequired]
    public required Action<object?> Setter { get; set; }

    [Parameter]
    public Type[] AncestorTypes { get; set; } = [];

    public void SetToZero()
    {
        Value = 0;
        Setter(Value);
    }

    public void SetToNull()
    {
        Value = null;
        Setter(null);
    }
}
