@if (Value is null)
{
    <div>
        <code>&lt;NULL&gt;&nbsp;</code>
        @if (!ReadOnly)
        {
            <text>&nbsp;</text>
            <button class="btn btn-outline-success btn-sm" @onclick=Set>Set to 0</button>
        }
    </div>
}
else
{
    <input type="number" style="width:100%;" disabled=@ReadOnly @bind=_value @bind:event="oninput" @bind:after=@(() => Setter(_value)) />
}

@code {
    private double? _value;

    [Parameter]
    public bool ReadOnly { get; set; } = false;

    [Parameter]
    public bool OpenDetails { get; set; } = false;

    [Parameter, EditorRequired]
    public required object? Value
    {
        get => _value;
        set => _value = value is not null ? Convert.ToDouble(value) : null;
    }

    [Parameter, EditorRequired]
    public required Action<object?> Setter { get; set; }

    [Parameter]
    public Type[] AncestorTypes { get; set; } = [];

    public void Set()
    {
        _value = 0;
        Setter(_value);
    }
}
