@page "/"
@using System.Reflection

<PageTitle>Relewise: Blazor Apps</PageTitle>

<h1>Relewise: Blazor Apps</h1>

<strong>Experimental tools for interacting with the <a target="_blank" href="https://relewise.com">Relewise API</a>.</strong><br>
Built with Blazor on the Relewise .NET SDK. Generated against <code>v@(Assembly.GetAssembly(typeof(ClientBase))!.GetName().Version!.ToString()[..^2])</code>. 
<br /><br/>
<strong>Not for production use.</strong>

<hr/>
Source and issue tracker: <a target="_blank" href="https://relewise.github.io/relewise-tools-blazor-apps">https://relewise.github.io/relewise-tools-blazor-apps</a>.