@if (Value is null)
{
    <code>&lt;NULL&gt;&nbsp;</code>
    @if (!ReadOnly)
    {
        <button class="btn btn-outline-success btn-sm" @onclick=Set>Set to 0</button>
    }
}
else
{
    <input type="number" style="width:100%;" disabled=@ReadOnly @bind=Value @bind:event="oninput" @bind:after=@(() => Setter(Value)) />
}

@code {
    [Parameter]
    public bool ReadOnly { get; set; } = false;

    [Parameter]
    public bool OpenDetails { get; set; } = false;

    [Parameter, EditorRequired]
    public required decimal? Value { get; set; }

    [Parameter, EditorRequired]
    public required Action<object?> Setter { get; set; }

    public void Set()
    {
        Value = 0;
        Setter(Value);
    }
}
