.box {
    border: 1px solid var(--color-blue-light);
    border-radius: 5px;
    padding: 5px;
}

.three-column-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px 10px;
    padding: 5px;
}