@typeparam T

@if (Value is null)
{
    @if (!ReadOnly)
    {
        <button class="btn btn-outline-success btn-sm" @onclick=Create>Create new List&lt;@ProductEditor.Name(typeof(T))&gt;</button>
    }
}
else
{
    <div class="box">
        <div class="header">
            <i>List&lt;@ProductEditor.Name(typeof(T))&gt</i>
        </div>
        <div class="two-column-grid">
            @for (int i = 0; i < Value.Count; i++)
            {
                var k = i;
                @if (Settings.Editors.FirstOrDefault(editor => editor.CanHandle(typeof(T))) is { } editor)
                {
                    <ErrorBoundary>
                        <ChildContent>
                            <DynamicComponent Type="@editor.EditorType(typeof(T))" Parameters="@(new Dictionary<string, object?>() { ["ReadOnly"] = ReadOnly, ["Value"] = Value[k], ["Setter"] = (object? obj) => { Value[k] = (T)obj!; } })" />
                        </ChildContent>
                        <ErrorContent>
                            <code>Failed to initialize editor part for @ProductEditor.Name(typeof(T))</code>
                        </ErrorContent>
                    </ErrorBoundary>
                    @if (!ReadOnly)
                    {
                        <button class="btn btn-sm btn-warning" @onclick="() => Remove(k)">X</button>
                    }
                    else
                    {
                        <span></span>
                    }
                }
            }
            @if (!ReadOnly)
            {
                <button class="btn btn-outline-primary btn-sm" style="grid-column: span 2" @onclick=Add>+ Add new @ProductEditor.Name(typeof(T))</button>
            }
        </div>
    </div>
}
@code {
    [Parameter]
    public bool ReadOnly { get; set; } = false;

    [Parameter, EditorRequired]
    public required List<T> Value { get; set; }

    [Parameter, EditorRequired]
    public required Action<object?> Setter { get; set; }

    public void Create()
    {
        Value = Activator.CreateInstance<List<T>>();
        Setter(Value);
    }

    public void Add()
    {
        T? newItem = Settings.Editors.FirstOrDefault(editor => editor.CanHandle(typeof(T))) is { } editor
            ? (T?)editor.InitValue(typeof(T))
            : default(T);
        Value.Add(newItem);
        Setter(Value);
    }

    public void Remove(int i)
    {
        Value.RemoveAt(i);
        Setter(Value);
    }
}