@page "/"
@using System.Reflection

<PageTitle>Blazor Relewise</PageTitle>

<h1>Blazor Relewise</h1>

This is a collection of tools for interacting with the <a target="_blank" href="https://relewise.com">Relewise API</a> which uses the <a target="_blank" href="https://www.nuget.org/packages/Relewise.Client">Relewise .NET SDK</a>.
<br />
<br />
This version of the tools are generated from version <code>@(Assembly.GetAssembly(typeof(ClientBase))!.GetName().Version!.ToString()[..^2])</code> of the Relewise .NET SDK.
<br />
<br />
The tools are open-source and can be found on GitHub at: <a target="_blank" href="https://github.com/KristofferStrube/Blazor.Relewise">https://github.com/KristofferStrube/Blazor.Relewise</a>
<br />
<br />
The tool was originally created and maintained by <a target="_blank" href="https://github.com/KristofferStrube">Kristoffer Strube</a> but has since been donated to the Relewise Organization and he is no longer maintaining this project.