@page "/"

<PageTitle>Blazor Relewise</PageTitle>

<h1>Blazor Relewise</h1>

Hello, this is a collection of tools for interacting with the <a href="https://relewise.com">Relewise API</a> using the <a href="https://www.nuget.org/packages/Relewise.Client">Relewise .NET SDK</a>
