@using KristofferStrube.Blazor.DOM
@using KristofferStrube.Blazor.Window
@inherits LayoutComponentBase

<div class="page">
    @if (StaticDatasetStorage.ParentOrigin is null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <small>A tool for using the Relewise API made by <a style="margin-left:0px;" href="https://twitter.com/KStrubeG">@@KStrubeG</a></small>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    [Inject]
    public required IJSRuntime JSRuntime { get; set; }

    [SupplyParameterFromQuery]
    public string? datasetId { get; set; }

    [SupplyParameterFromQuery]
    public string? parentOrigin { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (datasetId is not null && parentOrigin is not null)
        {
            // Don't show menu.
            StaticDatasetStorage.ParentOrigin = parentOrigin;

            // Get dataset from querystring and remove it.
            StaticDatasetStorage.DatasetId = datasetId;
            NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameter("datasetId", (string?)null), false);
        }
    }
}