@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <i>An unofficial tool for Relewise made by <a style="margin-left:0px;" href="https://twitter.com/KStrubeG">@@KStrubeG</a></i>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
